div(class='mainbody container-fluid')
  div(class='row')
    div(id='user-panel')
      div(class='col-lg-3 col-md-3')
        div(class='panel panel-default')
          div(class='panel-body')
            div(class='media')
              div(align='center')
                img(class='thumbnail img-responsive' src='https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png' width=300 height=300)
              div(class='media-body')
                hr
                h2 #{user.name.family_name} #{user.name.given_name}
                br
                h3 #{user.organisation.name}
